<%- include('partials/header.ejs') %>
<html>

<main>
  <div class="box" id="heading">
    <h1>
      <%= FormattedDate %>
    </h1>
  </div>

  <div class="box">
    <form class="item" action="/submit" method="post">
      <input type="text" name="newItem" placeholder="New Item" autocomplete="off" required>
      <button type="submit" name="list" value="<%= FormattedDate %>">+</button>
    </form>

    <% newItems.forEach(newItem => { %>
      <form action="/delete" method="post">
        <div class="item">
          <input type="checkbox" name="newItem" value="<%=newItem._id %>" onChange="this.form.submit()">
          <input type="hidden" name="listName" value="<%= FormattedDate %>"></input>
          <p> <%= newItem.names %> </p>
        </div>
      </form>
    <% }); %>
    </div>
   
</main>
</html> 

<%- include('partials/footer.ejs') %>

